<tr>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.city %>
  </td>
  <td>
    <%= user.created_at.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
