<h1>Please enter your direction</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :name %>

<% end %>

<hr>

<p>Users:</p>
<ul>
  <% @users.each do |u| %>
    <li><%= u.name %></li>
  <% end %>
</ul>
